@model Lab4.Models.ViewModels.StudentMembershipViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit Membership";
}

<h1>Edit</h1>
<h2>Student</h2>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                @Model.Student.First().FullName
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Memberships)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @if (Model.Student.First().CommunityMemberships.Any(m => m.CommunityID == item.CommunityID))
                    {
                        @Html.ActionLink("Unregister", "RemoveMemberships", "Students",
                       new { studentId = Model.Student.First().StudentID, communityId = item.CommunityID }) }
                    else
                    {
                        @Html.ActionLink("Register", "AddMemberships", "Students",
                       new { studentId = Model.Student.First().StudentID, communityId = item.CommunityID })}
                </td>
            </tr>
        }
    </tbody>
    @Html.ActionLink("Back to List", "Index")
</table>
